/* Ajustes generales */
html {
    background-color: black;
    color: white;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    --opacidad-negro: 0.9;
    background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), rgba(0, 0, 0, var(--opacidad-negro))), url("fondo.png");
    background-size: cover;
    background-position: center;
	background-attachment: contain;
}

header {
    --opacidad-negro: 0.5;
    background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), rgba(0, 0, 0, var(--opacidad-negro))), url("fondo-logo.png");
    background-size: cover;
    background-position: center;
	background-attachment: contain;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
}

header .logo {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .logo img {
    width: 100%;
}

header .descargas {
    width: 50%;
    height: 100%;
}

header .descargas p {
    display: block;
    padding: 0.5em;
    margin: 0.5em;
    text-align: center;
}

header .descargas a {
    display: block;
    padding: 10px;
    margin: 0.5em;
    text-align: center;
    margin-right: 10px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

header .descargas a:hover {
    background-color: #0056b3;
}


header .descargas span {
    display: block;
    margin: 0.5em;
    padding-bottom: 0.5em;
    text-align: center;
    font-size: 0.8em;
    color: white;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.container .bloque img {
    max-width: 100%;
    height: auto;
}

.container .bloque .video {
    width: 100%;
    min-height: 450px;
}

/* Footer */
footer {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    padding: 10px;
}

/* Estilos para escritorio */
@media screen and (min-width: 600px) {
    header {
        flex-direction: row;
        justify-content: space-between;
    }

    .container .bloque {
        padding: 2em;
        text-align: center;
    }
}