/* Ajustes generales */
html {
    background-color: black;
    color: white;
    height: 100%;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    --opacidad-negro: 0.9;
    background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), rgba(0, 0, 0, var(--opacidad-negro))), url("fondo.png");
}

header {
    background: red;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
}

header .logo {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .logo img {
    width: 100%;
}

header .descargas {
    width: 50%;
    height: 100%;
}

header .descargas a {
    display: block;
    padding: 10px;
    margin: 0.5em;
    text-align: center;
    margin-right: 10px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

header .descargas a:hover {
    background-color: #0056b3;
}


header .descargas span {
    display: block;
    margin: 0.5em;
    padding-bottom: 1em;
    text-align: center;
    font-size: 0.8em;
    color: white;
}

/* 
.container {
    width: 50%;
}

@media screen and (max-width: 768px) {
    .container {
        display: none;
    }
}

.logo {
    display: inline-block;
    height: 200px;
}

.logo img {
    height: 100%;
}

.boton-descarga {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.imagen-izquierda,
.imagen-derecha {
    width: 50%;
    text-align: center;
    margin-bottom: 20px;
    display: flex;
}

.imagen-izquierda img {
    float: left;
    margin-right: 20px;
    max-width: 200px;
    height: auto;
}

.imagen-derecha img {
    float: right;
    margin-left: 20px;
    max-width: 200px;
    height: auto;
}
*/

/* Footer */
/* footer {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    padding: 10px;
}  */
